@namespace url(http://www.w3.org/1999/xhtml);

/*
@-moz-document domain("live.bilibili.com") {
    .chat-msg-list .system-msg,
    .chat-msg-list .announcement-container,
    .chat-msg-list .gift-msg,
    .chat-msg-list .chat-msg>:not(.user-name):not(.msg-content),
    .chat-msg-list .chat-msg>span *,
    .super-gift-ctnr,
    .lottery-panel,
    .bilibili-live-player-video-logo,
    .bilibili-live-player-video-gift,
    #gift-msg-1000{
        display: none !important;
    }
    #chat-msg-list{
        height: 100%
    }
    .guard-msg {
        margin: 0 !important;
        padding: 4px 5px !important;
    }
    .guard-msg:before, .guard-msg:after {
        display: none !important;
    }
}
*/
@-moz-document domain("live.bilibili.com") {
    #my-dear-haruna-vm,
    .chat-history-list>:not(.danmaku-item),
    .chat-history-list .danmaku-item>:not(.user-name):not(.danmaku-content),
    .penury-gift-msg {
        display: none !important;
    }
    #chat-history-list{
        height: 100%
    }
    .guard-level-1 {
        margin: 0 !important;
        padding: 4px 5px !important;
    }
    .guard-level-1:before, .guard-level-1:after {
        display: none !important;
    }
    .guard-level-2 {
        margin: 0 !important;
        padding: 4px 5px !important;
    }
    .guard-level-2:before, .guard-level-2:after {
        display: none !important;
    }
}

