@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("live.bilibili.com") {
    .chat-msg-list .system-msg,
    .chat-msg-list .announcement-container,
    .chat-msg-list .gift-msg,
    .chat-msg-list .chat-msg>:not(.user-name):not(.msg-content),
    .chat-msg-list .chat-msg>span *,
    .super-gift-ctnr,
    .lottery-panel,
    .bilibili-live-player-video-logo,
    .bilibili-live-player-video-gift,
    #gift-msg-1000{
        display: none !important;
    }
    #chat-msg-list{
        height: 100%
    }
    .guard-msg {
        margin: 0 !important;
        padding: 4px 5px !important;
    }
    .guard-msg:before, .guard-msg:after {
        display: none !important;
    }
}
